html, body {
	margin: 0;
	padding: 0;
	background-color: #EEE;
	font-size: 1rem;
}

section>h1 {
	text-align: center;
}

nav {
	height: 100vh;
	width: 20vw;
	background-color: #333;
	color: #ccc;
	position: fixed;
	right: -20vw;
	z-index: 5000;
	top: 0;
	-webkit-transition: right 0.5s ease;
	-moz-transition: right 0.5s ease;
	transition: right 0.5s ease;
}

#navbutton {
	cursor: pointer;
	color: #333;
	font-size: 1.75rem;
	position: fixed;
	right: 5px;
	z-index: 5001;
	top: 5px;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	transition: color 0.5s ease;
}